/*Add custom css here*/
.profile-tile .profile-tile-meta ul li{
    font-size: .9rem;
}
.profile-tile .profile-tile-meta ul li .active-user{
    margin-left: 0;
}
.activity-boxes-w .activity-box{
    font-size: 1rem;
}

.element-balances .balance{
    background-color: #fff;
    border-left: 3px solid #047bf8!important;
    flex:1 1 auto;
    margin: 20px
}
.element-balances .balance+.balance{
    background-color: #fff;
    border-left: 3px solid #047bf8!important;
    margin: 20px
}
.element-balances{
    flex-flow: wrap;
}

