/*Add custom css here*/
.profile-tile .profile-tile-meta ul li{
    font-size: .9rem;
}
.profile-tile .profile-tile-meta ul li .active-user{
    margin-left: 0;
}
.activity-boxes-w .activity-box{
    font-size: 1rem;
}

.element-balances .balance{
    background-color: #fff;
    border-left: 3px solid #047bf8!important;
    flex:1 1 auto;
    margin: 20px
}
.element-balances .balance+.balance{
    background-color: #fff;
    border-left: 3px solid #047bf8!important;
    margin: 20px
}
.element-balances{
    flex-flow: wrap;
}
@media (max-width: 767px) {
    .element-balances .balance{
        margin:5px;
    }
    .element-balances .balance+.balance{
        margin:5px;
    }
    .top-bar.color-scheme-bright{
        display: flex;
        flex-direction: row;
    }
    .top-bar .fancy-selector-w .fancy-selector-current{
        max-width: 20%;
    }
}
.table.table-padded thead tr th {
    white-space:nowrap;
}
/*Thêm nút liên hệ và messager*/
.phone-bar a,#phone-vr .phone-vr-circle-fill,#phone-vr .phone-vr-img-circle,#phone-vr .phone-bar a {
    background-color: #e60808;
}

#phone-vr .phone-vr-circle-fill {
    opacity: 0.7;
    box-shadow: 0 0 0 0 #e60808;
}
#contact-vr .phone-vr-circle-fill,#contact-vr .phone-vr-img-circle {
    background-color: #2196f3;
}

#contact-vr .phone-vr-circle-fill {
    opacity: 0.7;
    box-shadow: 0 0 0 0 #2196f3;
}
#button-contact-vr {
    right: 0;
}

.phone-bar a {
    left: auto;
    right: 30px;
    padding: 8px 55px 7px 15px;
}

#button-contact-vr.active #gom-all-in-one .button-contact {
    margin-left: 100%;
}
#button-contact-vr {
    bottom: 8%;
}

#button-contact-vr {
    position: fixed;
    bottom: 80px;
    z-index: 99999;
    right: 16px;
}
/*phone*/
#button-contact-vr .button-contact {
    position: relative;
}
#button-contact-vr .button-contact .phone-vr {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}
.phone-vr-circle-fill {
    width: 65px;
    height: 65px;
    top: 12px;
    left: 12px;
    position: absolute;
    box-shadow: 0 0 0 0 #c31d1d;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animuiion: zoom 1.3s infinite;
    animation: zoom 1.3s infinite;
}
.phone-vr-img-circle {
    background-color: #e60808;
    width: 40px;
    height: 40px;line-height: 40px;
    top: 25px;
    left: 25px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phone-vr-circle-fill 1s infinite ease-in-out;
}
.phone-vr-img-circle a {
    display: block;
    line-height: 37px;
}
.phone-vr-img-circle img {
    max-height: 25px;
    max-width: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
@-webkit-keyframes phone-vr-circle-fill {
    0% {-webkit-transform: rotate(0) scale(1) skew(1deg);  }
    10% {-webkit-transform: rotate(-25deg) scale(1) skew(1deg);}
    20% {-webkit-transform: rotate(25deg) scale(1) skew(1deg);}
    30% {-webkit-transform: rotate(-25deg) scale(1) skew(1deg);}
    40% {-webkit-transform: rotate(25deg) scale(1) skew(1deg);}
    50% {-webkit-transform: rotate(0) scale(1) skew(1deg);}
    100% {-webkit-transform: rotate(0) scale(1) skew(1deg);}
}
@-webkit-keyframes zoom{0%{transform:scale(.9)}70%{transform:scale(1);box-shadow:0 0 0 15px transparent}100%{transform:scale(.9);box-shadow:0 0 0 0 transparent}}@keyframes zoom{0%{transform:scale(.9)}70%{transform:scale(1);box-shadow:0 0 0 15px transparent}100%{transform:scale(.9);box-shadow:0 0 0 0 transparent}}
.phone-bar a {
    position: fixed;
    bottom: 25px;
    left: 30px;
    z-index: -1;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px 7px 50px;
    border-radius: 100px;
    white-space: nowrap;
}
.phone-bar a:hover {
    opacity: 0.8;color: #fff;
}
@media(max-width: 736px){
    .phone-bar{display: none;}
}

#zalo-vr .phone-vr-circle-fill {
    box-shadow: 0 0 0 0 #2196F3;
    background-color: rgba(33, 150, 243, 0.7);
}
#zalo-vr .phone-vr-img-circle {
    background-color: #2196F3;
}
#viber-vr .phone-vr-circle-fill {
    box-shadow: 0 0 0 0 #714497;
    background-color: rgba(113, 68, 151, 0.8);
}
#viber-vr .phone-vr-img-circle {
    background-color: #714497;
}
#contact-vr .phone-vr-circle-fill {
    box-shadow: 0 0 0 0 #2196F3;
    background-color: rgba(33, 150, 243, 0.7);
}
#contact-vr .phone-vr-img-circle {
    background-color: #2196F3;
}


/*css all in one*/
#gom-all-in-one #phone-vr {
    transition: 0.7s all;
    -moz-transition: 0.7s all;
    -webkit-transition: 0.7s all;
}
#gom-all-in-one #zalo-vr {
    transition: 1s all;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
}
#gom-all-in-one #viber-vr {
    transition: 1.3s all;
    -moz-transition: 1.3s all;
    -webkit-transition: 1.3s all;
}
#gom-all-in-one #contact-vr {
    transition: 1.6s all;
    -moz-transition: 1.6s all;
    -webkit-transition: 1.6s all;
}
#button-contact-vr.active #gom-all-in-one .button-contact {
    margin-left: -100%;
}
#all-in-one-vr .phone-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    color: #fff;
    padding: 5px 15px 5px 48px;
    border-radius: 50px;
    margin-left: -64px;
    width: max-content;
    cursor: pointer;
}

/*CSS product*/
/* Underline From Center   box-shadow: 0 10px 25px 0 rgba(0,0,0,.1);*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background-color: #f8f9fa;
    border: 2px solid #e9ecef;
    position: relative;
    overflow: hidden;
}

.ul .nav.nav-tabs {
    padding-bottom: 10px;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2b65b1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background: rgb(99,182,219);
    background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%);
    background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%);
    background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 );
    color:white;
    border:0!important;
}

.hvr-border-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 4px #e9ecef, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
    box-shadow: inset 0 0 0 4px #2886d3, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
}

.unresize{
    resize:none;
}

.modal-footer .btn-close {
    background-color: #e0e0e0;
}
.modal-footer > .btn {
    padding: 5px 10px;
    font-size: 16px;
}

.modal-body .buy-number {
    height : 40px;
    line-height: 40px;
    font-size: 16px;
    border: 2px solid #d8dfed;
    padding-left: 8px;
}

.btn-mua-ngay {
    border: 2px solid #24b314;
    background-color: #24b314;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 5px;
    width: 100%;
}

.btn-mua-ngay:focus {
    Outline-color: #ffbc00;
}

.btn-mua-ngay:hover {
    color: #ff6e01;
    border-color: #ff6e01;
    background-color: #fff;
}
.btn-info-pr {
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 0px 5px;
    background-color: #fff;
    color: #2b65b1;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.btn-info-pr:focus {
    Outline-color: #2b65b1;
}
.btn-info-pr:hover {
    color: #fff;
    border-color: #2b65b1;
    background-color: #2b65b1;
}
.btn-close-thongtin {
    border: 2px solid #2b65b1;
    border-radius: 50px;
    padding: 0px 20px;
    background-color: #2b65b1;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-close-thongtin:focus {
    Outline-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffc47b;
}
.btn-close-thongtin:hover {
    color: #fff;
    border-color: #24b314;
    background-color: #24b314;
}
.btn-stock{
    padding: 2px 5px;
}
.hvr-underline-from-center .item.item-circle {
    border-radius: 100%;
    text-align: center;
}
.hvr-underline-from-center .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}
.hvr-underline-from-center .bg-black-5 {
    background-color: rgba(0,0,0,.05)!important;
}
.text-secondary {
    color: #6c757d!important;
}
/*hover scroll text*/
h4 {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.text-truncate {
    display: inline-block;
    width: 100%;
}
h4:hover, .text-truncate:hover {
    width: auto;
}
.item-product:hover h4 {
    animation: scroll 15s;
}
@keyframes scroll {
    0% {left: 0px;}
    100% {left: -100%;}
}
@media(min-width: 768px){
    .box-product{
        min-width: 700px!important;
    }
}
/*css box giao dịch*/
@media(max-width: 767px){
    .box-giao-dich .element-box-tp{
        overflow-x: scroll;
    }
}